<!--HEADER-->
<ion-header>
  <ion-toolbar class="header-toolbar">
    <div class="centratit">
      <ion-buttons slot="start">
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">

  <div style="height: 80%; display: flex; align-items: center; justify-content:center;">
    <ion-card class="colorcard1 ion-text-center">
      <ion-card-title class="azul ion-padding-top">
        <ion-label class="ion-text-center">
          <h1 class="azul">¡Bienvenido!</h1>
          <br>
          <h2 class="azul">Paso 2: Responde la pregunta secreta</h2>
          
          <br>
          <h2 class="azul" *ngIf="usuario"> {{ usuario.nombre }} {{usuario.apellido}}</h2>
          <h4 class="azul" *ngIf="usuario">{{usuario.pregunta}}</h4>
        </ion-label>
      </ion-card-title>

      <form>
        <!-- Contenido del card -->
        <ion-card-content>
          <ion-item class="ingrdat">
            <ion-input name="respuesta" label="Respuesta" labelPlacement="floating" type="text" [(ngModel)]="usuario.respuesta"></ion-input>
          </ion-item>
          <br>
          <ion-button class="botonduoc" (click)="ingresar()">Recuperar contraseña</ion-button>
          <br>
          <a class="azul" routerLink="" (click)="login()">Iniciar sesión</a>
        </ion-card-content>
      </form>
    </ion-card>
  </div>
</ion-content>

<!--FOOTER-->
<ion-footer>
  <ion-toolbar class="footer-toolbar">
  </ion-toolbar>
</ion-footer>