<!--HEADER-->
<ion-header>
  <ion-toolbar class="header-toolbar">
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <div style="height: 80%; display: flex; align-items: center; justify-content:center;">
    <ion-card class="colorcard1">
      <div style="display: flex; align-items: center; justify-content:center;">
        <ion-img class="img-size ion-padding-vertical" src="assets/img/logo-correcto.png"></ion-img>
      </div>
      <ion-card-title>
        <ion-label class="ion-text-center">
          <!--imagen-->
          <h1 class="blanco">¡Bienvenido!</h1>
          <h4 class="blanco" *ngIf="usuario">Usuario: {{ usuario.nombre }} {{usuario.apellido}}</h4>
          <h4 class="blanco">Tu contraseña es: {{usuario.password}}</h4>
        </ion-label>
      </ion-card-title>
      <ion-card-content class="ion-text-center">
        <ion-button class="boton-duoc ion-auto" (click)="home()">Ingresar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<!--FOOTER-->
<ion-footer>
  <ion-toolbar class="footer-toolbar">
  </ion-toolbar>
</ion-footer>