<!--HEADER-->
<ion-header>
  <ion-toolbar class="header-toolbar">
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div style="height: 100%; display: flex; align-items: center; justify-content:center;">
    <!--CARD-->
    <ion-card class="colorcard1 ion-text-center ion-padding-vertical">
      <!-- TITULO -->
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h1 class="blanco">Sistema de Asistencia DUOC</h1>
          <h2 class="blanco">Bienvenid@</h2>
        </ion-label>
      </ion-card-title>
      <!-- FORMULARIO -->
      <form>
        <!-- CONTENIDO DEL CARD -->
        <ion-card-content>
          <!-- CORREO -->
          <ion-item class="input-text">
            <ion-input name="correo" label="Correo" labelPlacement="floating" type="text" [(ngModel)]="usuario.correo"></ion-input>
          </ion-item>
          <br>
          <!-- CONTRASEÑA -->
          <ion-item class="input-text">
            <ion-input name="password" label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="usuario.password"></ion-input>
          </ion-item>
          <br>
          <ion-button class="boton-duoc ion-auto" (click)="ingresar()">Ingresar</ion-button>
        </ion-card-content>
      </form>
      <ion-label>
        <a class="blanco" routerLink="" (click)="recuperar()">Recupera tu contraseña</a>
      </ion-label>
    </ion-card>
  </div>
</ion-content>

<!--FOOTER-->
<ion-footer>
  <ion-toolbar class="footer-toolbar">
  </ion-toolbar>
</ion-footer>