<!--HEADER-->
<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="centrado-vertical">
    <ion-card class="colorcard1">
      <ion-img class="ion-padding-vertical" src="assets/img/incorrecto.jpg"></ion-img>
      <h1 class="blanco centrado-vertical">¡La respuesta es incorrecta!</h1>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="volver()" expand="block" fill="clear" shape="round">
      Volver
    </ion-button>
  </ion-toolbar>
</ion-footer>

<!--FOOTER-->
<ion-footer>
  <ion-toolbar class="footer-toolbar">
  </ion-toolbar>
</ion-footer>