<!--HEADER-->
<ion-header>
  <ion-toolbar class="header-toolbar">
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <div style="height: 100%; display: flex; align-items: center; justify-content:center;">
    <ion-card class="colorcard1 ion-text-center ion-padding-vertical">
      <ion-card-title>
        <ion-label class="ion-text-center">
          <ion-title #titulo class="titulo-animado blanco">
            ¡Bienvenido!
          </ion-title>
          <h2 class="blanco" *ngIf="usuario">Usuario: {{ usuario.nombre }} {{usuario.apellido}}</h2>
        </ion-label>
      </ion-card-title>
      <ion-card-content>
        <ion-button class="boton-duoc ion-auto" *ngIf="!escaneando" (click)="comenzarEscaneoQR()">
          <ion-icon slot="start" name="videocam-outline"></ion-icon>
          Comenzar Escaneo de QR
        </ion-button>
        <ion-button class="boton-duoc ion-auto" *ngIf="escaneando" (click)="detenerEscaneoQR()">
          <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
          Detener escaneo de QR
        </ion-button>
        <input type="file" #fileInput hidden (change)="cargarImagen($event)">
        <ion-button class="boton-duoc ion-auto" (click)="fileInput.click()">
          <ion-icon slot="start" name="image-outline"></ion-icon>
          Subir imagen de QR
        </ion-button>
        <video #video [hidden]="!escaneando" width="100%"></video>
        <canvas #canvas hidden></canvas>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Mis Datos</ion-card-title>
          </ion-card-header>
          <ion-card-content class="borde">
            <table *ngIf="datosQR">
              <tr>
                <td class="ancho_columna_titulos">Bloque de Inicio: </td>
                <td id="data">{{ asistencia.bloqueInicio }}</td>
              </tr>
              <tr>
                <td class="ancho_columna_titulos">Bloque de término: </td>
                <td id="data">{{ asistencia.bloqueTermino }}</td>
              </tr>
              <tr>
                <td class="ancho_columna_titulos">Día: </td>
                <td id="data">{{ asistencia.dia }}</td>
              </tr>
              <tr>
                <td class="ancho_columna_titulos">Hora de inicio: </td>
                <td id="data">{{ asistencia.horaInicio }}</td>
              </tr>
              <tr>
                <td class="ancho_columna_titulos">Hora de término: </td>
                <td id="data">{{ asistencia.horaFin }}</td>
              </tr>
              <tr>
                <td class="ancho_columna_titulos">ID de asignatura: </td>
                <td id="data">{{ asistencia.idAsignatura }}</td>
              </tr>
              <tr>
                <td class="ancho_columna_titulos">Nombre de asignatura: </td>
                <td id="data">{{ asistencia.nombreAsignatura }}</td>
              </tr>
              <tr>
                <td class="ancho_columna_titulos">Nombre del profesor: </td>
                <td id="data">{{ asistencia.nombreProfesor }}</td>
              </tr>
              <tr>
                <td class="ancho_columna_titulos">Sección: </td>
                <td id="data">{{ asistencia.seccion }}</td>
              </tr>
              <tr>
                <td class="ancho_columna_titulos">Sede: </td>
                <td id="data">{{ asistencia.sede }}</td>
              </tr>
            </table>
            <h2 *ngIf="!datosQR">
              Sin información
            </h2>
          </ion-card-content>
        </ion-card>
        <ion-button class="boton-duoc ion-auto" (click)="cerrarSesion()">
          Cerrar Sesión
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!--FOOTER-->
<ion-footer>
  <ion-toolbar class="footer-toolbar">
  </ion-toolbar>
</ion-footer>