
@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/*TITULO ANIMADO*/
.titulo-animado {
    color: #000000;
}

/*HEADER-LOGO*/
.header-toolbar {
    --background: url('assets/img/duoc_logo_white.png') no-repeat center center / contain;
    background-color:#002138;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*BACKGROUND*/
.background {
    --background: url('/assets/img/img_duoc.jpg') no-repeat center/cover;
    background-attachment: scroll;
    background-size: cover;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background: transparent;
}

/*BOTON*/
.boton-duoc {
    --background: #002138;
    --background-hover: #002138;
    --background-activated: #002138;
    --background-focused: #002138;

    --color: rgb(255, 255, 255);

    border-radius: 20px;
}

/*INPUT TEXT*/
.input-text{
    --background: #4B4B4B;
    --background-hover: #4B4B4B;
    --background-activated: #4B4B4B;
    --background-focused: #4B4B4B;
    
    color: white;

    border-radius: 20px;
}

/*CARD*/
.colorcard{
    background-color: rgb(248, 179, 28);
    border-radius: 10px;

}

.colorcard1{
    background-color: rgb(248, 179, 28);
    border-radius: 10px;
    height: max-content;
    width: 500px;
}

/*CORRECTO E INCORRECTO IMG*/
.img-size{
    height: 200px;
    width: 200px;
}

/*CAMBIA COLORES*/
.azul{
    color: #002138;
}

.negro{
    color: black;
}

.amarillo{
    color: rgb(248, 179, 28);
}

/*FOOTER-LOGO*/
.footer-toolbar {
    --background: url('assets/img/acreditacion.png') no-repeat center center / contain;
    background-color:#002138;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}