<!--HEADER-->
<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="centrado-vertical">
    <ion-card class="colorcard1">
      <ion-title class="alinear-centro blanco">Sistema de Asistencia DUOC</ion-title>
      <ion-item>
        <ion-input [(ngModel)]="correo" type="text" label="Correo" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" type="password" label="Contraseña" labelPlacement="floating"></ion-input>
      </ion-item>
      <div class="alinear-centro">
        <br>
        <ion-button class="boton-duoc ion-auto" (click)="ingresar()">
          Ingresar
        </ion-button>
        <br>
        <ion-button class="boton-duoc ion-auto" (click)="recuperar()">
          Recuperar Contraseña
        </ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>

<!--FOOTER-->
<ion-footer>
  <ion-toolbar class="footer-toolbar">
  </ion-toolbar>
</ion-footer>